@font-face {
    font-family: 'IRANSans';
    src: url("fonts/IRANSans/IRANSansWeb.eot") format('eot'),
        url("fonts/IRANSans/IRANSansWeb.woff") format('woff'),
        url("fonts/IRANSans/IRANSansWeb.ttf") format('truetype');
}

body {
    font-family: IRANSans;
    font-size: 13px;
    background-color: #f3f3f9;
}